extends layout

block content
  div(ng-controller="mainController", class="container")
    div(class="jumbotron")
      h1 CardBoard
      p A team-oriented system for managing, assigning, and completing tasks.
